article {
    padding-top: 5px;
    margin-left: 5px;
    font-size: 11px;
    font-weight: 450;
    text-overflow: wrap;
    grid-column: span 2;
    max-width: 300px;
}

#postingUser {
    padding-left: 5px;
}


/* /* .Post {
    display: flex;
    outline: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    justify-content:space-evenly;
    max-width: 400px;
} */

.Post {
    display: grid;
    grid-template-columns: repeat(3, auto); /* Use auto columns */
    gap: 10px; /* Adjust the gap between grid items */
    outline: 2px solid black;
    margin: 50px;
    border-radius: 10px;
    padding: 10px;
    max-width: 600px;
    
}

.PostingUser {
grid-column: 0; /* Align to the far left */
padding: 5px;
text-align: left;
}

#item-wide {
grid-column: 2/3; /* Span across the middle column */
padding: 5px; /* Add padding */
}

#like-button-container {
grid-column: -1; /* Align to the far right */
padding: 5px;
text-align: center;
}
